<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Lugar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="my-4">Nuevo Lugar</h2>
    <form th:action="@{/listaLugares/crear}" method="post" >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre delLugar</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre_lugar" required>
            </div>
            <div class="form-group col-md-6">
                <label for="Descripcion">Descripción del Lugar</label>
                <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion" name="descrip_lugar" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="fecha">Fecha de la Visita</label>
                <input type="date" class="form-control" id="fecha" placeholder="fecha visita" name="fecha_lugar" required>
            </div>

        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
        <a th:href="@{/listaLugares}" class="btn btn-danger">Cancelar</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>